html {
  background-color: rgb(91, 196, 238);
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  /* these are specific to different browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgb(91, 196, 238);
  color:rgb(31, 155, 68);
  border-color:black;
}

.wrapper {
  margin: 1em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(34, 30, 73);
  color:white;
  text-align: left;
  border: 2px solid;
  border-color: black;
}

.footer a {
  color:rgb(91, 196, 238);
  text-decoration: underline;
}
/*
Form Styles
*/

form input {
    /* This is a hack to make sure our boxes line up with one another nicely */
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;

    /* here we are setting white space correctly */
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 4px;
  }

  form label {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    align-items: flex-start;

    display: block; /* this turns the label text into a box we can set margins on */
    margin-bottom: 0.5rem;
  }

/* How To Write A Media Query For Small Screens */

@media only screen and (max-width: 736px){
    /* Rules in here will only apply when a screen is the correct size */
    /* check it out by using your developer tools to shrink your screen-size */

    .container {
      display: flex;
      flex-direction: column;
      align-items:space-around;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .header {
      background-color: rgba(239, 239, 239, 0.40);
      border: 2px solid;
      border-radius: 4px;
      padding: .5em;
    }
    .box {
      background-color: rgba(239, 239, 239, 0.40);
      border: 2px solid;
      border-radius: 4px;
      padding: 1.5rem;
      margin: 1em;
  }
}

@media only screen and (min-width: 737px){

  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .header {
    background-color: rgba(239, 239, 239, 0.40);
    border: 2px solid;
    border-radius: 4px;
    padding: .5em;
  }
  .box {
    background-color: rgba(239, 239, 239, 0.40);
    border: 2px solid;
    border-radius: 4px;
    padding: 1.5rem;
    margin: 0 auto;
  }

}



